* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

hr {
    width: 200px;
    margin: 10px;
}

p,
h3,
li {
    color: rgb(172, 171, 171);
}

.subtitle {
    color: rgb(172, 171, 171);
}

span,
h1 {
    color: rgb(255, 255, 255);
}


.container-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

figcaption {
    color: white;
}

.navbar-spotify {
    padding: 20px 20px;
}


.list-music {
    display: flex;
    flex-direction: column;
    width: 230px;
    background-color: black;
    flex-shrink: 0;
}

.list-info {
    display: flex;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
}

.list-playlist {
    padding: 20px;
    height: 65%;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
}

.container-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 35px;
}


/* img profilo in basso sx */

.profile {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: gray;
}

/* centratura testo ed icone sidebar */

.center-icon {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
    padding: 5px;
}

.center-playlist {
    display: flex;
    align-items: center;
    gap: 10px;
}

.center-info {
    gap: 10px;
    display: flex;
    align-items: flex-end;
}



.button {
    display: flex;
    border-radius: 999px;
    padding: 10px;
    background-color: transparent;
    color: white;
}

.button:hover {
    transform: scale(1.1);
}



.pointer-footer:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* card */
.card-list {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #141922;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 90px;
    background-color: #121a2c;
    padding: 30px;
}

.music-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}



/* footer */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer {
    height: 100px;
    background-color: #282828;
    position: relative;
}

.footer-song {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
    gap: 20px;
}

.footer-play {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
}

.footer-volume {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 20px;
    margin: 30px;
}

.center-play {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 25px;
}

.progress {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
}


/* Progress DOT hover */


.progress {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
}

.slider {
    width: 380px; 
    height: 4px; 
    background-color: gray; 
    border-radius: 15px; 
    position: relative; 
}

/* Parte bianca (10%) */
.slider-fill {
    height: 100%; /* Altezza della parte riempita */
    width: 10%; 
    background-color: white; 
}

.dot {
    width: 15px; 
    height: 15px; 
    background-color: green; 
    border-radius: 50%; 
    position: absolute; 
    left: 8%; /* Posiziona a destra del 100% della larghezza dello slider */
    top: 50%; /* Centra verticalmente */
    margin-top: -8px; /* Sposta verso l'alto di metà dell'altezza del dot */
    z-index: 1; 
    opacity: 0; /* Nascondi il dot di default */
}

/* Hover effect */
.slider:hover .slider-fill {
    background-color: green; 
}

.slider:hover .dot {
    opacity: 1; 
}



.volume {
    width: 80px;
    height: 4px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    position: relative; 
}

.volume-fill {
    height: 100%; /* Altezza della parte riempita */
    width: 40%; 
    background-color: white; 
}

.dot-volume {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: 50%;
    margin-top: -7px;
    z-index: 1;
    opacity: 0;
}

.volume:hover .volume-fill {
    background-color: green; 
}

.volume:hover .dot-volume {
    opacity: 1; 
}


.card-radius {
    border-radius: 50%;
    cursor: pointer;
}


/* card music & HOVER */


.card-music {
    max-width: 180px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.img-container {
    position: relative;
    width: 180px;
    height: 175px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.img-container .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.img-container:hover img {
    filter: brightness(50%);
}

.img-container:hover .play-icon {
    opacity: 1;
}


/* HOVER bianco */

.playlist li:hover {
    color: white;
    cursor: pointer;
}

.artist p:hover {
    color: white;
    cursor: pointer;
}

.list-info p:hover {
    color: white;
    cursor: pointer;
}

.list-playlist p:hover {
    color: white;
    cursor: pointer;
}

.music-list p:hover {
    color: white;
    cursor: pointer;
}

.underline-green {
    text-decoration: underline green; 
}

/* brano nome sinister footer */
.footer-song p:hover { 
    color: white;
    text-decoration: underline white;
    cursor: pointer;
   }


/* ///////////////////////// */


.overflow {
    max-height: 82%;
    overflow-y: scroll;
}

.container-height {
    display: flex;
    height: calc(100% - 100px);
}


.artist {
    margin-top: auto;
}

.border {
    border-bottom: 2px solid red;
}

@media (max-width: 768px) {
    .list-music {
        width: 80px;
    }
}


/* DEBUG */
.debug {
    border: dashed rgb(201, 3, 3) 2px;
}